# dependencies

#Excludin node module and other files
/reactreduxtodo/node_modules
/reactreduxtodo/.pnp
/reactreduxtodo/.pnp.js
/reduxtoolkit/node_modules
/reduxtoolkit/.pnp
/reduxtoolkit/.pnp.js
/tictactoe/node_modules
/tictactoe/.pnp
/tictactoe/.pnp.js